# Node and build folders
node_modules
dist
.tmp
coverage

# Git and editor files
.git
.gitignore
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Docker files (optional)
Dockerfile
docker-compose.yml

# Environment and secrets
.env
.env.*
